{% capture menu_size %} {{ linklists['main-menu'].links | size }} {% endcapture %}
<ul class="top-menu size-{{ menu_size | lstrip | rstrip }}">

	{% for link in linklists['main-menu'].links %}

	<!-- locksmith:v3({% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: link %} {% unless locksmith_locked and locksmith_access_denied and locksmith_manual_lock == false %}) -->

		{% assign child_list_handle = link.title | handleize %}

		{% if linklists[child_list_handle].links != blank %}

			{% assign submenu_active = false %}
			{% for childlink in linklists[child_list_handle].links %}
			<!-- locksmith:v3({% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: childlink %} {% unless locksmith_locked and locksmith_access_denied and locksmith_manual_lock == false %}) -->
				{% if childlink.active %}
					{% assign submenu_active = true %}
				{% endif %}
			<!-- locksmith:v3({% endunless %}) -->
			{% endfor %}

			<li class="submenu{% if link.active or submenu_active %} selected{% endif %}" aria-haspopup="true">
				<a href="{{ link.url }}">
					{{ link.title }}
					{% include 'asset_svg' with 'arrow_icon' %}
				</a>
				<ul class="sub-menu">
				{% for childlink in linklists[child_list_handle].links %}
				<!-- locksmith:v3({% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: childlink %} {% unless locksmith_locked and locksmith_access_denied and locksmith_manual_lock == false %}) -->
					<li{% if childlink.active %} class="selected"{% endif %}><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
				<!-- locksmith:v3({% endunless %}) -->
				{% endfor %}
				</ul>
			</li>

		{% else %}
			{% assign my_title = link.title %}

			{% if customer %}			
				{% if my_title != "Request Account" %}
					<li{% if link.active %} class="selected"{% endif %}>
						<a href="{{ link.url }}">{{ my_title }}</a>
					</li>
				{% endif %}	
			{% else %}
					<li{% if link.active %} class="selected"{% endif %}>
						<a href="{{ link.url }}">{{ my_title }}</a>
					</li>
			{% endif %}	
		{% endif %}

	<!-- locksmith:v3({% endunless %}) -->

	{% endfor %}

	{% if settings.newsletter_check %}
		<li{% unless settings.newsletter_sidebar %} style="display:none;"{% endunless %}>
			<a href="#" id="newsletter-button" class="overlay-button" data-overlay="#newsletter-overlay">{{ 'general.newsletter.title' | t }}</a>
		</li>
	{% endif %}

</ul>