<!doctype html>
<!--[if lt IE 8]><html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<!-- Bold D&H //theme -->
	{% if product.metafields.inventory.ShappifyHidden == "true" %} <meta name="robots" content="noindex"> {% endif %}
	<!-- // end theme D&H -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 

	{% if settings.favicon_image %}
		<link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
	{% endif %}

	<title>
		{{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
	</title>

	{% if page_description %}
		<!-- locksmith:v3({% include 'locksmith-variables' %}{% unless locksmith_locked and locksmith_access_denied and locksmith_manual_lock == false %}) -->
		<meta name="description" content="{{ page_description | escape }}">
		<!-- locksmith:v3({% endunless %}) -->
	{% endif %}

	{% include 'head_open-graph' %}

	<link rel="canonical" href="{{ canonical_url }}">

	{{ '//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' | stylesheet_tag }}
	{{ 'css_main.scss.css' | asset_url | stylesheet_tag }}

	{{ content_for_header }}

	{% if template contains 'customers' %}
		{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
		{{ 'customer_area.js'  | shopify_asset_url | script_tag }}
	{% endif %}

	{{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' | script_tag }}

	{% include 'head_fonts' %}
	{% include 'head_old-ie' %}

</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} no-touch clearfix">

	<div id="sidebar-holder">

		<div id="sidebar">

		    <header id="logo">

				{% if template == 'index' %}
					<h1 itemscope itemtype="//schema.org/Organization">
				{% else %}
					<h3 itemscope itemtype="//schema.org/Organization">
				{% endif %}

					{% if settings.logo_type == 'img' %}

						<a class="logo-img" href="/" itemprop="url">
							<img src="{{ 'logo_x2.png' | asset_url }}" alt="{{ shop.name }}" />
						</a>

					{% else %}

						<a href="/" itemprop="url">{{ shop.name }}</a>

					{% endif %}

				{% if template == 'index' %}
					</h1>
				{% else %}
					</h3>
				{% endif %}

		    </header>

		    <div id="meta">

				<div class="item responsive-menu">
					<a href="#">Menu</a>
					{% include 'asset_svg' with 'hamburger_icon' %}
				</div>

		    	{% if shop.customer_accounts_enabled %}
		    		<div class="item">
		    			{% if customer %}
		    				<a href="/account">Account</a>
	    				{% else %}
		    				<a href="/account/login">Account</a>
						{% endif %}
						{% include 'asset_svg' with 'account_icon' %}
		    		</div>
	    		{% endif %}

		    	<div class="item">
		    		<a href="#" id="main-search" class="overlay-button" data-overlay="#search-overlay">Search</a>
	    			{% include 'asset_svg' with 'search_icon' %}
		    	</div>

				<div class="item">
					<a href="/cart">Cart</a>
					{% include 'asset_svg' with 'cart_icon' %}
					<span class="count">{{ cart.item_count }}</span>
				</div>

	        </div>

			<nav id="menu" role="navigation">
				<div>
					{% include 'sidebar_nav-collections' with settings.menu_collections_select %}
					{% include 'sidebar_nav-main' %}
				</div>
				<a class="responsive-close" href="#">{% include 'asset_svg' with 'close_icon' %}</a>
			</nav>

			<aside id="footer" class="loading">
				{% include 'footer_social-icons' %}
				{% include 'footer_links' %}
			</aside>

		</div>

	</div>


	<div id="content-holder">

		<main id="content" role="main">

			{% if true %}{% include 'locksmith' %}{% else %}{{ content_for_layout }}{% endif %}

		</main>

	</div>

	<div id="main-overlay">

		{% include 'main_overlay-actions' %}

	</div>

	<script type="text/javascript">
	
		// Saving theme settings and local translations as global variables
		
		jQuery.themeSettings = {
			newsletter_check: "{{ settings.newsletter_check }}",
			newsletter_auto: "{{ settings.newsletter_auto }}",
			newsletter_mobile: "{{ settings.newsletter_mobile }}",
			carousel_transition: "{{ settings.carousel_transition }}",
			carousel_autoplay: "{{ settings.carousel_autoplay }}",
			carousel_timer: "{{ settings.carousel_timer }}",
			collections_size: "{{ settings.collections_size }}",
			collections_border: "{{ settings.collections_border }}",
			truncated_description: "{{ settings.truncated_description }}",
			truncated_description_lines: {{ settings.truncated_description_lines }},
			cart_action: "{{ settings.cart_action }}",
			gallery_max_size: "{{ settings.gallery_max_size }}",
			gallery_resizing: "{{ settings.gallery_resizing }}",
			gallery_transition: "{{ settings.gallery_transition }}",
			gallery_autoplay: "{{ settings.gallery_autoplay }}",
			gallery_timer: "{{ settings.gallery_timer }}"
		}
		
		jQuery.themeWords = {
			general_newsletter_content_html: "{{ 'general.newsletter.content_html' | t }}",
			products_page_share_text: "{{ 'products.page.share_text' | t }}",
			products_page_more_description_label: "{{ 'products.page.more_description_label' | t }}",
			products_page_less_description_label: "{{ 'products.page.less_description_label' | t }}",
			suffixAgo: "{{ 'blog.article.comments_time_format.suffix_ago' | t }}",
			suffixFromNow: "{{ 'blog.article.comments_time_format.suffix_from_now' | t }}",
			seconds: "{{ 'blog.article.comments_time_format.seconds' | t }}",
			minute: "{{ 'blog.article.comments_time_format.minute' | t }}",
			minutes: "{{ 'blog.article.comments_time_format.minutes' | t }}",
			hour: "{{ 'blog.article.comments_time_format.hour' | t }}",
			hours: "{{ 'blog.article.comments_time_format.hours' | t }}",
			day: "{{ 'blog.article.comments_time_format.day' | t }}",
			days: "{{ 'blog.article.comments_time_format.days' | t }}",
			month: "{{ 'blog.article.comments_time_format.month' | t }}",
			months: "{{ 'blog.article.comments_time_format.months' | t }}",
			year: "{{ 'blog.article.comments_time_format.year' | t }}",
			years: "{{ 'blog.article.comments_time_format.suffix_ago' | t }}"
		}

		{% capture jQuery_left_icon %} {% include "asset_svg" with "left_icon" %} {% endcapture %}
		{% capture jQuery_right_icon %} {% include "asset_svg" with "right_icon" %} {% endcapture %}
		{% capture jQuery_arrow_icon %} {% include "asset_svg" with "arrow_icon" %} {% endcapture %}

		jQuery.themeAssets = {
			arrowLeft: '{{ jQuery_left_icon | lstrip | rstrip }}',
			arrowRight: '{{ jQuery_right_icon | lstrip | rstrip }}',
			arrowDown: '{{ jQuery_arrow_icon | lstrip | rstrip }}'
		}
		
	</script>

	{{ 'js_plugins.min.js' | asset_url | script_tag }}
	{{ 'js_scripts.min.js' | asset_url | script_tag }}

</body>
</html>